html,
body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "futura-pt";
}


h1 {
  margin: 0;
  font-weight: normal;
  font-size: 60px;
  line-height: 46px;
}

h1 + p {
  margin-top: 15px;
}

p {
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 24px;
  font-family: "roboto";
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
}

.button {
  display: inline-block;
  transition: all .4s ease;
  padding: 12px 40px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 24px;
  
  &:hover {
    background: #f18319;
    border-color: #f18319;
  }
  
  &:first-child {    
    animation-delay: 1.6s;
  }
  
  &:last-child {
    animation-delay: 1.8s;
    margin-left: 12px;
  }
  
  
  &--orange {
    background: #f18319;
    border: none;
    
    &:hover {
      background: #e47a15;
    }
    
  }
  
} /* End button */



header {
  position: relative;
  min-height: 487px;
  padding-top: 300px;
  margin-bottom: 200px;
  
  .header-content{
    width: 720px;
    margin-left: 158px;
  }
  
  .header-img {
    top: 0;
    position: absolute;
    z-index: -1;
  }
  
  .button-wrapper {
    margin-top: 10px;
  }
  
  .mouse-wrapper {
    display: block;
    width: 22px;
    margin: 100px auto 0;
    animation-delay: 2.5s;
    
    .mouse {
      height: 26px;
      width: 18px;
      border-radius: 10px;
      transform: none;
      border: 2px solid white;
      top: 170px;
    }

    .wheel {
      height: 5px;
      width: 2px;
      display: block;
      margin: 5px auto;
      background: white;
      position: relative;
      animation: mouse-wheel 1.2s ease infinite;
      -webkit-animation: mouse-wheel 1.2s ease infinite;
    }

    span {
      display: block;
      width: 5px;
      height: 5px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      margin: 0 0 3px 6px;
    }
    
    .unu, .doi, .trei
    {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
    }

    .unu
    {
      -webkit-animation-delay: .1s;
      -moz-animation-delay: .1s;
      -webkit-animation-direction: alternate;
    }

    .doi
    {
      -webkit-animation-delay: .2s;
      -moz-animation-delay: .2s;
      -webkit-animation-direction: alternate;
    }

    .trei
    {
      -webkit-animation-delay: .3s;
      -moz-animation-delay: .3s;
      -webkit-animation-direction: alternate;
    }
    
  } /* end mouse wrapper */
  
  
  .contact-icon {
    position: absolute;
    right: 50px;
    bottom: -30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #f18319;
    cursor: pointer;
    
    img {
      max-width: 40px;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
  
} /* End header */



.animation {
  width: 0%;
  overflow: hidden;
  
  &__slide {
    animation: slide 0.5s ease 1;
    animation-fill-mode: forwards;
  }
  
  &__normal {
    animation-duration: 1s;
  }
  
  &__slow {
    animation-duration: 1.8s;
  }
  
  &__object {
    min-width: 720px;
  }
  
  &-delay {
    
    &__0-2 {
      animation-delay: .2s;
    }
    
    &__0-5 {
      animation-delay: .5s;
    }
    
    &__0-8 {
      animation-delay: .8s;
    }
    
    &__1 {
      animation-delay: 1s;
    }
    
    &__3 {
      animation-delay: 3s;
    }
    
  } /* End delay */
  
  
  
} /* End animation */





@keyframes slide {
  0%   { 
    opacity: 0;
    width: 0%; 
  }
  
  100%  { 
    opacity: 1;
    width: 100%;
  }    
}




@keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
 }

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}